<div>
  <style scoped>
    .clickable-address{
      box-shadow: 1px 1px 5px grey
    }
    .clickable-address:hover{
      /*background-color:antiquewhite;*/
      box-shadow: 0px 0px 5px lightsteelblue;
      cursor: pointer;
      background-color: rgba(158, 158, 158, 0.2)
    }
  </style>
  <div layout="row" flex="100" layout-wrap layout-align="space-around">
    <div ng-repeat="address in familysAddresses" flex="30">
      <div class="clickable-address" flex-offset="5" layout-padding layout-margin
        flex="100"
        ng-click="addAddress()">
        <p style="text-align: center; ">{{address.house_number}} {{address.street}}</p>
        <p style="text-align: center">
          <span ng-show="address.city">{{address.city}}</span><span ng-show="address.state">, {{address.state}}</span>
        </p>
        <p style="text-align: center">{{address.zip}}</p>
      </div>
    </div>
  </div>
</div>