<div layout="row" layout-align="center" class="">
  <div flex="90">
    <md-content class="md-padding">
      <md-tabs class="md-accent" md-selected="data.selectedIndex" md-dynamic-height>

        <md-tab id="tab1">
          <md-tab-label>Register Member</md-tab-label>
          <md-tab-body>
            <registration ng-show="activePage == 'profilePage'" next-page="nextPage()"></registration>
            <join-family
              ng-show="activePage == 'joinFamilyPage'"
              next-page="nextPage()"></join-family>

            <editable-address ng-show="activePage == 'addressPage'" is-disabled="false"
              next-page="nextPage()" address-exists="false" address="{}" reload="{}">
            </editable-address>
         
            <div ng-show="activePage == 'registrationFinished'" layout="row" layout-margin>
              <p layout-margin class="md-subhead" flex="25">Registration Complete</p>
              <md-button flex="20" flex-offset="20" ng-click="nextPage()" class="md-raised" login-button aria-label="back to new member details">
                Add another member
              </md-button>
            </div>
          </md-tab-body>
        </md-tab>

        <md-tab id="tab2">
          <md-tab-label>Create Family</md-tab-label>
          <md-tab-body>
            <create-family></create-family>
          </md-tab-body>
        </md-tab>

        <!-- <md-tab id="tab3">
          <md-tab-label>Committees</md-tab-label>
          <md-tab-body>
            View for Item #3 <br/>
            data.selectedIndex = 2;
          </md-tab-body>
        </md-tab>

        <md-tab id="tab4">
          <md-tab-label>Circles</md-tab-label>
          <md-tab-body>
            View for Item #3 <br/>
            data.selectedIndex = 2;
          </md-tab-body>
        </md-tab> -->

      </md-tabs>
    </md-content>

  </div>

</div>
