<md-content class="directory-container" flex-offset="10" flex="80">


  <!-- <md-menu class="table-options">
    <md-button ng-click="$mdOpenMenu($event)">Table Options</md-button>
    <md-menu-content>
      <md-menu-item> -->
        <md-switch ng-model="isActive[0]" ng-click="toggleVisible(1)">Last Name</md-switch>
      <!--</md-menu-item>
      <md-menu-item>
        <button type="button" name="first name" ng-click="toggleVisible(0)">First Name</button>
      </md-menu-item>
    </md-menu-content> -->
  <!-- </md-menu> -->

  <md-button ng-click="openDialogue()">Column Options</md-button>

  <h1 class="page-title">Member Directory</h1>

  <search-for-people search-result="gridOptions.data"></search-for-people>

<!--<div layout="row" flex>-->

    <div class="member-results" ui-grid="gridOptions" ui-grid-exporter></div>

<!--</div>-->
  <md-button ng-click="export()"><i class="fa fa-download"></i> Export to CSV</md-button>

</md-content>
