<md-content class="home-container" flex="80" flex-offset="10" layout="column" layout-align="center">
    <div class="logo-home-page" layout="row" layout-align="start end">
        <img src="assets/images/logo1.png" class="logo" width="70">
        <div>
            <h1>First Universalist Church of Minneapolis</h1>
            <p>In the Universalist Spirit of Love and Hope, We Give, Receive, and Grow</p>
        </div>
    </div>

    <h1 class="welcome-user-message">Welcome, User!</h1>

    <div layout="row" layout-align="center start">
        <div>
            <img src="assets/images/firstUniversalist.jpg">
        </div>

        <div flex="60">
            <h3>Our church, its ministers, and its members have nourished the flame of liberal religion in Minneapolis for more than 150 years. We are numbered among the foremost Unitarian-Universalist congregations in the United States. We invite others of free faith and open mind to join us on our journey.</h3>

            <p>Our Congregants: First Universalist is a welcoming congregation that draws strength from people of all racial, ethnic and national backgrounds, of all sexual orientations, and of a wide range of abilities.</p>

            <p>Our Sunday Service: During the regular church year our services are at 9:30am and 11:15am on Sundays; from Memorial Day weekend through Labor Day weekend our services are at 10am.</p>
        </div>

    </div>
</md-content>