<div layout="row" layout-align="center" class="individual-datacard">
    <div class="profile-sidebar" layout="column" layout-padding layout-align="start center" layout-margin >
      <div><img src="http://www.fillmurray.com/200/200" alt="" /></div>
      <div layout="column" layout-align="start center">
        <h1>{{member.first_name}}</h1>
        <h1>{{member.last_name}}</h1>
        <p>{{member.email}}</p>
        <h3>Age: {{member.age}}</h3>
        <h3>Gender: {{member.gender}}</h3>

      </div>
    </div>

    <div flex="70">
      <md-content class="md-padding">
        <md-tabs class="md-accent" md-selected="data.selectedIndex" md-dynamic-height>

          <md-tab id="tab1">
            <md-tab-label>Addresses</md-tab-label>
            <md-tab-body>
              <div ng-repeat="address in addresses">
                <p>{{address.house_number}} {{address.street}}</p>
                <p>{{address.city}}, {{address.state}}</p>
                <p>{{address.zip}}</p>
              </div>
            </md-tab-body>
          </md-tab>

          <md-tab id="tab2">
            <md-tab-label>Families</md-tab-label>
            <md-tab-body>
              <md-content layout="row">
                <md-card ng-repeat="family in families">
                  <md-card-header>
                    <md-card-avatar>
                      <img class="md-avatar-user" src="http://placebear.com/200/200" />
                    </md-card-avatar>
                  </md-card-header>
                  <md-card-content>
                    <p>
                      <a href="#/family" ng-click="updateActiveFamilyId(family.family_id)">{{family.family_name}}</a>
                    </p>
                  </md-card-content>
                </md-card>
              </md-content>
            </md-tab-body>
          </md-tab>

          <!-- <md-tab id="tab3">
            <md-tab-label>Committees</md-tab-label>
            <md-tab-body>
              View for Item #3 <br/>
              data.selectedIndex = 2;
            </md-tab-body>
          </md-tab> -->

          <!-- <md-tab id="tab4">
            <md-tab-label>Circles</md-tab-label>
            <md-tab-body>
              View for Item #3 <br/>
              data.selectedIndex = 2;
            </md-tab-body>
          </md-tab> -->

          <md-tab id="tab4">
            <md-tab-label>Profile</md-tab-label>
            <md-tab-body>
              <profile user="member"></profile>
            </md-tab-body>

          </md-tab>

        </md-tabs>
      </md-content>

    </div>
</div>
