<div layout="row" class="individual-datacard">
    <div class="profile-sidebar" layout="column" layout-padding layout-align="start center" layout-margin >
      <div><img src="http://www.fillmurray.com/200/200" alt="" /></div>
      <div layout="column" layout-align="start center">
        <h1>{{member.first_name}}</h1>
        <h1>{{member.last_name}}</h1>
        <p>{{member.email}}</p>
        <h3>Age: {{member.age}}</h3>
        <h3>Gender: {{member.gender}}</h3>

      </div>
    </div>

    <div flex="70">
      <md-content class="md-padding">
        <md-tabs class="md-accent" md-selected="data.selectedIndex" md-dynamic-height>

          <md-tab id="tab1">
            <md-tab-label>Addresses</md-tab-label>
            <md-tab-body>
              <md-button ng-click="addNewAddress = !addNewAddress">Add New address</md-button>
              <editable-address is-disabled="false" ng-hide="addNewAddress" address-exists="false"></editable-address>
              <div layout="row" layout-align="start">
                <div layout="row" layout-align="start" flex="100" layout-wrap>
                  <div ng-repeat="address in addresses" layout="row" flex="50">
                    <md-whiteframe flex-offset="5" class="md-whiteframe-4dp "
                      layout-padding layout-margin flex="95">
                      <editable-address address="address" is-disabled="true" address-exists="true"></editable-address>
                    </md-whiteframe>
                  </div>
                  <!-- <div class="add-new-address-button" flex="50" layout="row">
                    <md-whiteframe flex-offset="5" class="md-whiteframe-4dp "
                      layout-padding layout-margin flex="95"
                    >
                      <md-button ng-click="addAddress()" aria-label="Add Address Button"
                        class="md-raised login-button">Add New Address
                      </md-button>
                    </md-whiteframe>
                  </div> -->
              </div>
            </div>
            </md-tab-body>
          </md-tab>

          <md-tab id="tab2">
            <md-tab-label>Families</md-tab-label>
            <md-tab-body>
              <md-content layout="row">
                <md-card ng-repeat="family in families">
                  <md-card-header>
                    <md-card-avatar>
                      <img class="md-avatar-user" src="http://placebear.com/200/200" />
                    </md-card-avatar>
                  </md-card-header>
                  <md-card-content>
                    <p>
                      <a href="#/family" ng-click="updateActiveFamilyId(family.family_id)">{{family.family_name}}</a>
                    </p>
                  </md-card-content>
                </md-card>
              </md-content>
            </md-tab-body>
          </md-tab>

          <!-- <md-tab id="tab3">
            <md-tab-label>Committees</md-tab-label>
            <md-tab-body>
              View for Item #3 <br/>
              data.selectedIndex = 2;
            </md-tab-body>
          </md-tab> -->

          <!-- <md-tab id="tab4">
            <md-tab-label>Circles</md-tab-label>
            <md-tab-body>
              View for Item #3 <br/>
              data.selectedIndex = 2;
            </md-tab-body>
          </md-tab> -->

          <md-tab id="tab4">
            <md-tab-label>Profile</md-tab-label>
            <md-tab-body>
              <profile user="member"></profile>
            </md-tab-body>

          </md-tab>

        </md-tabs>
      </md-content>

    </div>
</div>
