<div class="container" layout="column" layout-align="start center">

  <div class="log-in md-whiteframe-1dp">

    <div class="logo-login" layout="row" layout-align="space-between end">
      <img src="assets/images/logo1.png" class="logo" width="50">

        <h1 class="logo-text-login">First Universalist Church of Minneapolis</h1>
    </div>

    <form>

      <md-input-container class="md-primary">
        <label for="username">Email</label>
        <input type="text" name="username" id="username" ng-model="user.username"/>
      </md-input-container>

      <md-input-container>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ng-model="user.password"/>
      </md-input-container>

      <div layout="column" layout-align="center center">
        <md-button aria-label="Submit Button" class="md-raised login-button"
          ng-click="submitCredentials()" ng-disabled="isLoggingIn">
          Log In
        </md-button>

        <!-- <span class="bar"><span class="or">or</span></span> -->

        <!-- <md-button href="/auth/google" class="md-raised login-button google-login-button">
            <i class="fa fa-google fa-lg"></i><span>Log In with Google</span>
        </md-button> -->

      </div>

      <a class="register-link" href="#/register">Register for an account</a>

    </form>

  </div>

</div>
